@font-face {
  font-family: Dyna;
  src: url(../src/assets/fonts/DynaPuff-VariableFont_wdth\,wght.ttf);
}

@font-face {
  font-family: Mali;
  src: url(../src/assets/fonts/Mali-Medium.ttf);
}

@import "tailwindcss";